@charset "utf-8";
//闪购模块左侧倒计时
.fl_box_hd{
    position: relative;
    height: 58px;
    -webkit-font-smoothing: antialiased;
    h2{
        margin: 0;
        font-size: 22px;
        font-weight: 200;
        line-height: 58px;
        color: #333;
    }
    .more{
        position: absolute;
        right: 0;
        top: 24px;
        .control{
            width: 24px;
            height: 16px;
            padding: 3px 5px;
            border: 1px solid #e0e0e0;
            font-size: 16px;
            line-height: 16px;
            margin-left: -5px;
            display: inline-block;
            text-align: center;
            color:#b0b0b0;
        }
    }
}
.fl_box_bd{
    position: relative;
    width: 1226px;
    overflow: hidden;
    padding-bottom: 40px;
    .fl_box_bd_list{
        height: 340px;
        overflow: hidden;
        width: 1240px;
        .fl_box_bd_l{
            float: left;
            width: 234px;
            margin: 0 14px 0 0;
            padding: 0;
            .rainbow{
                border-top-color: #e53935;
                background: #f1eded;
                text-align: center;
                height: 300px;
                padding-top: 39px;
                border-top-width: 1px;
                border-top-style: solid;
                transition: all .6s;
                float: left;
                width: 234px;
                margin-right: 14px;
            }
        }
    }
}
.fl_box_bd{
    .time-title{
        font-size: 21px;
        color: #ef3a3b;
        padding-top: 15px;
    }
    img{
        margin: 25px auto;
    }
    .sub{
        color: rgba(0,0,0,0.54);
        font-size: 15px;
    }
    .count_down{
        width: 168px;
        margin: 28px auto 0;
        .box{
            width: 46px;
            height: 46px;
            background:#605751;
            color:#fff;
            font-size:24px;
            line-height: 46px;
            float: left;
        }
        .dosh{
            width:15px;
            float: left;
            height: 46px;
            line-height: 46px;
            color:#605751;
            font-size: 28px;
        }
    }
}
//闪购模块右侧
.fl_box_bd_r{
    height: 340px;
    overflow: hidden;
    .fl_bd_rlist{
        width: 1984px;
        margin-left: 0px;
        transition: margin-left 0.5s ease 0s;
        li{
            position: relative;
            background: #fff;
            height: 300px;
            padding-top: 39px;
            border-top-width: 1px;
            border-top-style: solid;
            text-align: center;
            transition: all .6s;
            float: left;
            width: 234px;
            margin-right: 14px;
            .bga{
                color: #757575;
                text-decoration: none;
                .bg{
                    background: rgba(0,0,0,0.02);
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 2;
                }
            }
        }
        .rainbow-item{
            border-top-color: #ffac13;
        }
    }
}
.fl_bd_rlist{
    .thumb{
        display: block;
        width: 160px;
        margin: 0 auto 22px;
        img{
            width: 160px;
            height: 160px;
            margin: 0;
        }
    }
}
