@charset "utf-8";

.modal{
    display: block;
    position: fixed !important;
    top: -500px;
    left: 50%;
    z-index: 1050;
    margin-top: -300px;
    background-color: #fff;
    outline: none;
    opacity: 1;
    width: 760px;
    margin-left: -380px;
    transition: opacity .4s linear, top .4s ease-out;
    .modal-hd{
        position: relative;
        height: 32px;
        padding: 14px 20px;
        background-color: #f5f5f5;
        .title{
            margin: 0;
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;
            color: #424242;
        }
    }
    .close{
        position: absolute;
        top: 14px;
        right: 14px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: #757575;
        cursor: pointer;
        transition: all .2s;
        z-index: 10;
        border-radius: 15px;
        .iconfont{
            font-size: 24px;
            font-weight: 200;
            vertical-align: middle;
        }
        &:hover{
            color: #fff;
            background-color: #e53935;
        }
    }
    .modal-bd{
        text-align: center;
        padding: 20px 60px;
        max-height: none;
        position: relative;
        h3{
            color: #424242;
            font-size: 32px;
            margin: 0;
        }
        .modal-globalSites-tips{
            font-size: 18px;
        }
        .modal-globalSites-links{
            margin: 30px auto 0;
            a{
                display: block;
                float: left;
                
                margin: 0 10px 20px;
                width: 140px;
                height: 40px;
                line-height: 40px;
                background-color: #eee;
                color: #757575;
                &:hover{
                    background-color: #ff6700;
                    color: #fff;
                }
            }
        }
    }
}
.blackmu{
    display: none;
    width: 100%;
    height:8744px;
    position: fixed !important;
    opacity: 0.5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
//楼梯
.stairs{
    position: fixed;
    left:30px;
    bottom:120px;
    z-index:999;
    .stairs-list{
        width: 48px;
        li{
            width: 48px;
            height: 48px;
            background: #b0b0b0;
            border-bottom:1px solid #fff;
            a{
                font-size: 12px;
                width: 48px;
                display: block;
                text-align: center;
                line-height: 48px;
                color:#fff;
            }
        }
        .active{
            background: #ff6700;
        }
    }
}