@charset "utf-8";
@import "font";
*{
    margin: 0;padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-size: 14px;
    font-family: arial,"Hiragino Sans GB", "Microsoft YaHei","微軟正黑體","儷黑 Pro", sans-serif;
    color: #666;
    background: #f9f9f9;
}
.wrapper{
    width: 100%;
    min-height: 100%;
    height: auto;
   .wrap{
    padding-bottom: 80px;
        .layout{
            width: 854px;
            margin: 0 auto;
            padding-bottom: 10px;
            .frame{
                padding-bottom: 30px;
                border: none;
                border-radius: 0;
                margin-top:100px;
                background: #fff;
                padding: 34px 34px 0;
                min-height: 400px;
            }
        }
   }
}
.logo{
    padding-bottom: 40px;
    .milogo{
        width: 49px;
        height: 48px;
        margin: 0 auto;
        display: block;
        cursor: default;
        background-image: url(https://account.xiaomi.com/static/res/28f08d0/account-static/respassport/acc-2014/img/milogo.png);
    }
}
.frame{
    .title{
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
        text-align: center;
        .title_big30{
            font-size: 30px;
            font-weight: normal;
            color: #333;
            line-height: 1.5;
        }
    }
}
form{
    box-sizing: border-box;
    padding-left: 250px;
}
.reg_user{
    input{
        display: block;
        outline: none;
        width: 200px;
        height: 40px;
        margin:10px auto;
        box-sizing: border-box;
        padding: 10px;
    }
}
.submitbtn{
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 30px;
    background: #ff6700;
    border: none;
    cursor: pointer;
    margin-left: 100px;
}
//错误信息
.fwidth{
    width: 70px;
    float: left;
}
.error{
    color:red;
}