@charset "UTF-8";
@font-face {
  font-family: iconfont;
  src: url(http://10.31.162.60/miitem/mi/src/fonts/iconfont.eot?#iefix) format("embedded-opentype"), url(http://10.31.162.60/miitem/mi/src/fonts/iconfont.woff) format("woff"), url(http://10.31.162.60/miitem/mi/src/fonts/iconfont.ttf) format("truetype"), url(http://10.31.162.60/miitem/mi/src/fonts/iconfont.svg#uxiconfont) format("svg");
}
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}

.footer-service {
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;
}
.footer-service li {
  float: left;
  width: 19.8%;
  height: 25px;
  border-left: 1px solid #e0e0e0;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}
.footer-service li a {
  color: #616161;
  transition: color .2s;
}
.footer-service li a .iconfont {
  margin-right: 6px;
  font-size: 24px;
  line-height: 24px;
  vertical-align: -4px;
}
.footer-service li a:hover {
  color: #ff6700;
}

.footer-links {
  padding: 40px 0;
}
.footer-links dl {
  float: left;
  width: 160px;
  height: 112px;
  margin: 0;
}
.footer-links dl dt {
  margin: -1px 0 26px;
  font-size: 14px;
  line-height: 1.25;
  color: #424242;
}
.footer-links dl dd {
  margin: 10px 0 0;
  font-size: 12px;
}
.footer-links dl dd a {
  color: #757575;
}
.footer-links dl dd a:hover {
  color: #ff6700;
}
.footer-links .footer_links_r {
  float: right;
  width: 251px;
  height: 112px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
  color: #616161;
}
.footer-links .footer_links_r .phone_num {
  margin: 0 0 5px;
  font-size: 22px;
  line-height: 1;
  color: #ff6700;
}
.footer-links .footer_links_r a {
  display: inline-block;
  border: 1px solid #ff6700;
  background: #fff;
  color: #ff6700;
  width: 118px;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
}

.footer_links_r p {
  margin: 0 0 16px;
  font-size: 12px;
}

.footer-info {
  padding: 30px 0;
  font-size: 12px;
  background: #fafafa;
}
.footer-info .footer_logo {
  float: left;
  width: 57px;
  height: 57px;
  margin-right: 10px;
  background: url(http://10.31.162.60/miitem/mi/src/images/logo-footer.png) no-repeat 50% 50%;
}
.footer-info .footer-center {
  float: left;
  color: #b0b0b0;
}
.footer-info .footer-center .sites a {
  color: #757575;
}
.footer-info .footer-center p a {
  color: #b0b0b0;
}
.footer-info .footer-center p a:hover {
  color: #ff6700;
}

.footer-link {
  float: right;
  height: 28px;
  margin: 4px 0 0;
}
.footer-link img {
  width: auto;
  height: 28px;
  margin-left: 0px;
}

.slogan {
  clear: both;
  margin: 30px auto 0;
  width: 267px;
  height: 19px;
  background: url(http://10.31.162.60/miitem/mi/src/images/slogan2016.png) no-repeat center 0;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

em {
  font-style: normal;
}

body {
  font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}

.container {
  width: 1226px;
  margin: 0 auto;
}

.container:after {
  content: " ";
  display: table;
  clear: both;
}

.clearfix:after, .clearfix:before {
  content: " ";
  /*加一段内容*/
  display: table;
  /*创建匿名的表格单元，触发bfc*/
}

.clearfix:after {
  clear: both;
  /*清除浮动*/
}

.site-header {
  font-size: 12px;
  border-bottom: 2px solid #ff6700;
  background: #fff;
  color: #b0b0b0;
  position: relative;
  z-index: 20;
  height: 100px;
}
.site-header .container {
  position: relative;
}
.site-header .header-logo {
  width: 93px;
  margin-top: 26px;
  float: left;
}
.site-header .header-logo .logo {
  width: 48px;
  height: 48px;
  position: relative;
  display: block;
  overflow: hidden;
  background-color: #ff6700;
}
.site-header .header-logo .logo:hover:before {
  opacity: 0;
  transform: translate3d(55px, 0, 0);
}
.site-header .header-logo .logo:hover:after {
  opacity: 1;
  transform: translate3d(55px, 0, 0);
}
.site-header .header-logo .logo:before {
  width: 48px;
  height: 48px;
  background: url(http://10.31.162.60/miitem/mi/src/images/mi-logo.png) no-repeat 50% 50%;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  content: '';
  transform-origin: 50% 50%;
  transition: all .2s;
}
.site-header .header-logo .logo:after {
  width: 48px;
  height: 48px;
  background: url(http://10.31.162.60/miitem/mi/src/images/mi-home.png) no-repeat 50% 50%;
  opacity: 0;
  margin-left: -55px;
  transform: translate3d(0, 0, 0);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  content: '';
  transform-origin: 50% 50%;
  transition: all .2s;
}
.site-header .header-title {
  float: left;
  margin-top: 26px;
  height: 48px;
}
.site-header .header-title h2 {
  float: left;
  line-height: 48px;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: normal;
  color: #424242;
}
.site-header .header-title p {
  float: left;
  height: 20px;
  line-height: 20px;
  margin-top: 20px;
  margin-left: 15px;
  color: #757575;
}
.site-header .topbar-info {
  margin-top: 30px;
  line-height: 40px;
  position: relative;
  float: right;
  height: 40px;
}
.site-header .topbar-info .user {
  float: left;
  position: relative;
  width: 110px;
  padding: 0;
  white-space: nowrap;
}
.site-header .topbar-info .user .user-name {
  position: relative;
  z-index: 5;
  display: block;
  width: 120px;
  height: 40px;
  text-align: center;
}
.site-header .topbar-info .sep {
  color: #e0e0e0;
  float: left;
}
.site-header .topbar-info .link {
  padding: 0 5px;
  float: left;
  color: #757575;
}

.user:hover .user-name {
  color: #ff6700;
}
.user:hover .user-name i {
  color: #ff6700;
}
.user .user-name {
  color: #757575;
}
.user .user-name .name {
  display: inline-block;
  width: auto;
  max-width: 75px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: text-bottom;
}
.user .user-name i {
  font-size: 24px;
  line-height: 24px;
  vertical-align: 9px;
}
.user .user-menu {
  display: none;
  height: 0;
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 3;
  width: 120px;
  margin: 0;
  padding: 7px 0;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
.user .user-menu a {
  display: block;
  padding: 3px 30px;
  line-height: 2;
  color: #424242;
  transition: all .2s;
}
.user .user-menu a:hover {
  color: #ff6700;
  background-color: #f5f5f5;
}

.main {
  background: #f5f5f5;
  padding-top: 38px;
  padding-bottom: 38px;
}

.cart-goods-list {
  background-color: #fff;
}
.cart-goods-list .list-head {
  height: 70px;
  line-height: 70px;
  padding-right: 26px;
  color: #424242;
}
.cart-goods-list .list-head .col {
  float: left;
}
.cart-goods-list .col-check {
  width: 110px;
}
.cart-goods-list .col-check .icon-checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border: 1px solid #e0e0e0;
  margin-left: 24px;
  background-color: #fff;
  color: #fff;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: -1px;
  cursor: pointer;
  margin-right: 15px;
}
.cart-goods-list .col-check .icon-checkbox:hover {
  color: #757575;
}
.cart-goods-list .col-check .icon-checkbox-selected {
  color: #fff;
  border-color: #ff6700;
  background-color: #ff6700;
}
.cart-goods-list .col-check .icon-checkbox-selected:hover {
  color: #fff;
}
.cart-goods-list .col-img {
  width: 120px;
}
.cart-goods-list .col-name {
  width: 380px;
}
.cart-goods-list .col-name .name {
  line-height: 1;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 380px;
}
.cart-goods-list .col-name .name a {
  color: #424242;
}
.cart-goods-list .col-price {
  width: 75px;
  padding-right: 84px;
  text-align: right;
  color: #424242;
}
.cart-goods-list .col-num {
  width: 150px;
  text-align: center;
  color: #424242;
}
.cart-goods-list .col-total {
  width: 120px;
  padding-right: 81px;
  text-align: right;
}
.cart-goods-list .col-action {
  width: 80px;
  text-align: center;
}
.cart-goods-list .item-box {
  padding: 15px 26px 15px 0;
  border-top: 1px solid #e0e0e0;
}
.cart-goods-list .item-box .col-img {
  width: 80px;
  height: 80px;
  padding-right: 40px;
  overflow: hidden;
}
.cart-goods-list .item-box .tags {
  margin-bottom: 6px;
}
.cart-goods-list .item-box .col-price {
  font-size: 16px;
}
.cart-goods-list .item-box .col-num {
  font-size: 16px;
}
.cart-goods-list .item-box .col-total {
  color: #ff6700;
  font-size: 16px;
}
.cart-goods-list .item-box .col-action .del {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 12px;
  color: #757575;
  font-size: 16px;
  transition: all .3s;
}
.cart-goods-list .item-box .col-action .del:hover {
  color: #fff;
  background-color: #e53935;
}
.cart-goods-list .item-table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}
.cart-goods-list .item-table .item-row {
  display: table-row;
}
.cart-goods-list .item-table .col {
  display: table-cell;
  vertical-align: middle;
}

.change-goods-num {
  width: 148px;
  height: 38px;
  border: 1px solid #e0e0e0;
  text-align: center;
  background-color: #fff;
  position: relative;
  zoom: 1;
}
.change-goods-num a {
  float: left;
  width: 38px;
  height: 38px;
  line-height: 38px;
  color: #757575;
  font-size: 20px;
  transition: all .3s;
}
.change-goods-num a:hover {
  background-color: #e0e0e0;
}
.change-goods-num input {
  float: left;
  width: 72px;
  height: 38px;
  line-height: 38px;
  padding: 0;
  border-width: 0;
  color: #424242;
  font-size: 16px;
  text-align: center;
}

.raise-buy-box {
  margin: 20px 0;
}

.cart-bar {
  height: 50px;
  text-align: right;
  background-color: #fff;
  transition: background .3s ease, top .3s ease;
  position: relative;
}
.cart-bar a {
  color: #757575;
  transition: color .3s;
}
.cart-bar .section-left {
  float: left;
}
.cart-bar .back-shopping {
  line-height: 50px;
  margin-left: 32px;
}
.cart-bar .cart-total {
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px solid #eee;
  color: #757575;
}
.cart-bar .cart-total i {
  color: #ff6700;
}
.cart-bar i {
  font-style: normal;
}
.cart-bar .total-price {
  padding-left: 13px;
  color: #ff6700;
}
.cart-bar .total-price em {
  font-size: 30px;
}
.cart-bar .btn {
  width: 200px;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  margin-left: 50px;
  vertical-align: top;
  display: inline-block;
  border: 1px solid #b0b0b0;
  cursor: pointer;
  text-align: center;
}
.cart-bar .btn-primary {
  background: #ff6700;
  border-color: #ff6700;
  color: #fff;
}
.cart-bar .btn-disabled {
  background: #e0e0e0 !important;
  border-color: #e0e0e0 !important;
  color: #b0b0b0 !important;
  cursor: default !important;
}
.cart-bar a {
  transition: color .3s;
}
.cart-bar .no-select-tip {
  display: none;
  width: 200px;
  height: 48px;
  line-height: 48px;
  position: absolute;
  top: -58px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ff6700;
  color: #ff6700;
  text-align: center;
}
.cart-bar .no-select-tip .arrow {
  display: block;
  width: 0;
  height: 0;
  border-style: solid dashed dashed;
  overflow: hidden;
  position: absolute;
  left: 50%;
}
.cart-bar .no-select-tip .arrow-a {
  bottom: -8px;
  margin-left: -10px;
  border-width: 8px 10px 0;
  border-color: #ff6700 transparent transparent;
  z-index: 1;
}
.cart-bar .no-select-tip .arrow-b {
  bottom: -7px;
  margin-left: -8px;
  border-width: 7px 8px 0;
  border-color: #fff transparent transparent;
  z-index: 2;
}

.cart-empty {
  height: 273px;
  padding-left: 558px;
  margin: 65px 0 130px;
  background: url(http://10.31.162.60/miitem/mi/src/images/cart-empty.png) no-repeat 124px 0;
  color: #b0b0b0;
  overflow: hidden;
}
.cart-empty h2 {
  margin: 70px 0 15px;
  font-size: 36px;
}
.cart-empty .login-desc {
  margin: 0 0 20px;
  font-size: 20px;
  color: #b0b0b0;
}
.cart-empty .btn {
  display: inline-block;
  width: 170px;
  height: 48px;
  line-height: 48px;
  border: 1px solid #b0b0b0;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: all .4s;
}
.cart-empty .btn-primary {
  background: #ff6700;
  border-color: #ff6700;
  color: #fff;
  margin-right: 10px;
}
.cart-empty .btn-primary:hover {
  background-color: #f25807;
  border-color: #f25807;
  color: #fff;
}
.cart-empty .btn-shopping {
  background-color: #f5f5f5;
  color: #ff6700;
  border-color: #ff6700;
}

.cart-recommend {
  margin: 60px 0 0;
}
.cart-recommend .xm-recommend-title {
  position: relative;
  margin: 0;
  height: 50px;
  font-size: 30px;
  font-weight: 400;
  color: #757575;
  border-top: 1px solid #e0e0e0;
}
.cart-recommend .xm-recommend-title span {
  position: absolute;
  top: -20px;
  left: 372px;
  height: 40px;
  width: 482px;
  line-height: 40px;
  text-align: center;
  display: block;
  background-color: #f5f5f5;
}
.cart-recommend ul li {
  margin-bottom: 14px;
  height: 300px;
  background-color: #fff;
  text-align: center;
  position: relative;
  width: 234px;
  float: left;
  margin-left: 14px;
  min-height: 1px;
}
.cart-recommend ul li:hover .btn {
  display: block;
}
.cart-recommend dl {
  padding: 0 20px;
  margin-bottom: 0;
}
.cart-recommend dl dt {
  padding: 40px 0 15px;
  height: 145px;
}
.cart-recommend dl dt img {
  width: 140px;
  height: 140px;
}
.cart-recommend dl dd {
  margin-left: 0;
}

.row {
  margin-left: -14px;
}

.xm-recommend .xm-recommend-name {
  margin-bottom: 10px;
  height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.xm-recommend .xm-recommend-name a {
  color: #333;
}
.xm-recommend .xm-recommend-price {
  margin-bottom: 10px;
  color: #ff6700;
}
.xm-recommend .xm-recommend-tips {
  position: relative;
  color: #757575;
}
.xm-recommend .xm-recommend-tips .btn {
  display: none;
  position: absolute;
  left: 37px;
  top: 0;
  width: 120px;
  background: #fff;
  color: #ff6700;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
  border: 1px solid #ff6700;
  text-align: center;
  cursor: pointer;
  transition: all .4s;
}
.xm-recommend .xm-recommend-tips .btn:hover {
  color: #fff;
  background-color: #f25807;
  border-color: #f25807;
}

/*# sourceMappingURL=cart.css.map */
